<%- include("partials/header") %>

    <div class="container ">
        <h1>Compose
            <hr>
        </h1>

        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <div style="margin-top: 50px;">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" minlength="8" type="text" name="title" id="title">
                            <br><br>
                            <label for="post">Post</label>
                            <textarea class="form-control" type="text" minlength="15" name="post" id="post" rows="5"></textarea>
                            <br>
                            <button type="submit" class="btn btn-secondary">
                                Publish
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2">

            </div>

        </div>

    </div>

    <%- include("partials/footer") %>