<%- include("partials/header") %>
    <div class="container">
        <h1 class="text-center"> I am Contact Us</h1>
        <p>
            <%= contactData %>
        </p>
    </div>
    <%- include("partials/footer") %>