<%- include("partials/header") %>

    <div class="container">
        <h1>
            <%let title=titleName%>
                <%= title%>
        </h1>
        <hr>
        <p>
            <%=postName%>
        </p>


    </div>
    <%- include("partials/footer") %>